/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
h1 {
    font-size: 32px; /* Größere Überschrift */
    margin-bottom: 10px; /* Platz unter der Überschrift */
}
  
h2 {
    font-size: 24px; /* Größere Überschrift */
    margin-top: 20px;
    margin-bottom: 10px; /* Platz unter der Überschrift */
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    margin-bottom: 10px;
}
  
a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
a:hover {
    color: #555;
}
  
/* Animation */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.fadein-container {
    animation: fadein 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Stichpunkte */
ul.stichpunkte {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  ul.stichpunkte li {
    margin-bottom: 5px;
  }